@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.active_dashboard_link {
    background-color: black !important;
    color: white !important;
}

/* responsiveness */
/* for screens up to 767px */
@media screen and (max-width: 767px) {
    .not_active_link {
        transition: all 0.2s ease-in-out;
        padding: 10px 0;
        width: 100%;
        text-align: center;
    }
    
    .active_link {
        background: #0000000c;
        padding: 10px 0;
        border: none;
        width: 100%;
        text-align: center;
        transition: all 0.2s ease-in-out;
    }
    
    .active_link:hover {
        color: #797979d7;
    } 

    .not_active_link:hover {
        background: #0000000c;
        color: #797979d7;
    }
}

/* for screens from and above 768px */
@media screen and (min-width: 768px) {
    .not_active_link {
        transition: all 0.2s ease-in-out;
    }

    .active_link {
        padding: 10px 20px;
        border: 1px solid white;
        transition: all 0.2s ease-in-out;
    }
    
    .active_link:hover {
        border-color: #c4c4c4b0;
        color: #c4c4c4b0;
    } 
}

/* pagination */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 25px;
  }
  
  .pagination li {
    margin: 0 5px;
  }
  
  .pagination li a {
    padding: 10px 15px;
    border: 1px solid #bababa;
    color: #000;
    cursor: pointer;
    font-size: 1.6rem;
    transition: background-color 0.3s ease;
  }
  
  .pagination li a:hover {
    background-color: #f0f0f0;
  }
  
  .pagination .active a {
    background-color: #000;
    color: white;
    border: 1px solid black;
  }
  